<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GulpAssignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetMyReview</servlet-name>
    <servlet-class>GetMyReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>AddReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRestaurantList</servlet-name>
    <servlet-class>GetRestaurantList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetReview</servlet-name>
    <servlet-class>GetReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyReview</servlet-name>
    <url-pattern>/GetMyReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRestaurantList</servlet-name>
    <url-pattern>/GetRestaurantList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetReview</servlet-name>
    <url-pattern>/GetReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
</web-app>